.show-banner {
  height: 400px;
}
.show-banner-content {
  position: relative;
  top: 100px;
}
.ingrediens-list {
  background-color: lightgrey;
  margin: 10px;
  border-radius: 5px;
  font-weight: bold;
}
.show-banner-name {
  font-size: 40px;
  letter-spacing: 4px;
  color: white;
}
.fa-star {
  color: #ffc000;
}
.fa-times-circle {
  margin-right: 5px;
}
.reviews-row {
  margin: 20px;
}
.single-ingredient {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
