.show-banner {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ingrediens-list {
  background-color: lightgrey;
  margin: 10px;
  border-radius: 5px;
  font-weight: bold;
}
.show-banner-name {
  font-size: 40px;
  letter-spacing: 4px;
  color: white;
}
